<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SmartList</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Float data">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<% include ./partials/header_imports %>

	</head>
	<body>
Error Occured

	</body>
</html>