<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SmartList</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Float data">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- < include ./partials/header_imports >  -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

		<!-- 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
		 -->
	</head>
	<!-- #44484f -->
	<body style="background-color:#2e2e2ffa">

		<div class="super_container">
			
		<!-- Flash -->				
		<div class="container-fluid text-center" id="pushMessage" style="z-index: 100;position: relative;top: 2%;">
			<% if(error && error.length > 0) { %>
					<div class="alert alert-danger" role="alert"><%= error %></div>
			<% } else if(success && success.length > 0){ %>		
					<div class="alert alert-success" role="alert"><%= success %></div>
			<% } %>
		</div> 
		<!-- Flash -->

		<!-- Header -->
		<!-- < include ./partials/header %> -->
		<nav class="navbar sticky-top navbar-dark bg-dark">
			<!-- Navbar content -->
			<a class="navbar-brand" style="text-color:#fff" href="/">SmartList <sup>&copy;</sup></a>
			<span class="navbar-text text-center" >
					A quick way to collaborate and make list
			</span>
			
		</nav>


<style>
	h2 {
		color: white;
		text-shadow: 1px 1px 2px black, 0 0 30px blue, 0 0 5px darkblue;
	}
	.container-inner {
		box-shadow: 1px 1px 2px black, 0 0 5px buttonface;
	}
	button {
		border: 10px solid #2e2e2f;
		box-shadow: 1px 1px 2px black, 0 0 10px buttonface, 0 0 5px  darkblue;
	}
	button:hover {
		color: white;
		text-shadow: 1px 1px 2px black, 0 0 30px blue, 0 0 5px darkblue;
		box-shadow: 1px 1px 2px black, 0 0 10px rgba(0, 0, 255, 0.637), 0 0 5px darkblue;
	}
	input, textarea {
		border: 10px solid #2e2e2f;
		background-color: buttonface;
		color: black;
	}
	input:focus {
		color: black;
		box-shadow: 1px 1px 2px black, 0 0 10px rgba(0, 0, 255, 0.637), 0 0 5px darkblue;
	}
	.form-item{
		background-color: #2e2e2f;
		color:white;
		height: 50px;
		padding-top: 10px; 
	}

</style>
<script>
	$(function() {      //aka document.ready
		$("#floatship_float").focus( function() {
			//$("#floatship_float").css("box-shadow","1px 1px 2px black, 0 0 15px yellow, 0 0 5px darkblue");
		});

		$("#floatship_float").blur( function() {
			//$("#floatship_float").css("box-shadow","1px 1px 2px black, 0 0 15px rgb(17, 235, 17), 0 0 5px darkblue");
		});
	});
</script>
			<div class="container text-center" style="margin-top: 2%">		
				<h2><u>  Concurrent List </u> </h2>
			</div>




			<div class="container" style="margin-top: 1%; color:rgb(241, 245, 248)">
				<!-- <form method="POST" action="#"> -->
					<div class="row text-center">
					
						<div class="col-md-1 col-xs-2">
							</div>
						<div class="col-md-4 col-xs-2 form-item">
							Name: <input type="text" id="floatship_name" name="floatship[name]" />
						</div>
						<div class="col-md-4 col-xs-3 form-item">
							Password: <input type="text" id="floatship_password" name="floatship[password]"/>
						</div>
						
						<div class="col-md-2 col-xs-3 form-item">
							<button onclick="theAjaxGetFloat();" style="width: 120px">Go</button>
						</div>
						<div class="col-md-1 col-xs-2">
						</div>
					
					</div>
				<!-- </form> -->
			</div>


			<div id="floatship_container" class="container text-center form-item" style="margin-top:1%;">
				<!-- <marquee> -->
					<h6><b>Status:</b>  <span id="status_box"> Awaiting Floatbox Name </span></h6>
				<!-- </marquee> -->
			</div>

<div class="row">

		<div class="col-md-7 col-xs-6">
			<div id="floatship_container" class="container text-center" style="margin-top: 3%;">
				<textarea class="container-inner" style="width: 250px; height: 200px;border: 10px solid #2e2e2f;"
					id="floatship_float" name="floatship[float]" placeholder="New Entry">
				</textarea>
				<button id="floatship_float_button" style="border: 10px solid #2e2e2f;
					width: 120px; height:50px; margin-left: 20px;margin-bottom: 50px" class="btn btn-default">
					Send
				</button>
			</div>
		</div>

		<div class="col-md-5 col-xs-6">
			<div id="floatship_container_copy" class="container text-center" style="margin-top: 3%;margin-bottom: 10%;">
				<textarea class="container-inner" style="width: 250px; height: 200px;border: 10px solid #2e2e2f;"
					id="floatship_float_copy" name="floatship[float_copy]" placeholder="Local Copy" disabled>
				</textarea>		
			</div>
		</div>

</div>


			<!-- Footer -->
			<% include ./partials/footer %>

		</div>

		<!-- Footer -->
		<footer style="color:whitesmoke; bottom: 0%; width: 100%; position: fixed; background-color: #343a40">
			<!-- Copyright -->
			<div class="text-center py-3">
				© 2019 Copyright: SmartList
			</div>
			<!-- Copyright -->
		
		</footer>
		<!-- Footer -->

		<script>

			$(document).ready(function(){
				//$("#floatship_float").prop('disabled', true);
			})

			$("#floatship_float").focus(function(){

			//	$("#floatship_float").css("box-shadow","1px 1px 2px black, 0 0 15px rgb(17, 235, 17), 0 0 5px darkblue");

			})

			async function getClients(){
				var toReturn = null;
				$.ajax({
                        data: { },
                        dataType: 'json',
						type: 'GET',
						url: '/clients',
						async:false,
						
						success: function(data){
						   if(data == "not_found" || data == "error" ){
								console.log("not updated");
								$('#status_box').html("Error");
								toReturn =  null;

							}
							else{
								console.log("Fetched Active Clients",data,data.clients);
								$('#status_box').html("Fetched Active Clients");
								toReturn =  data.clients;
							}
						},
						error: function(){
							console.log("connection error");
							$('#status_box').html("connection error");
							toReturn =  null;
						}
					}); 

					return toReturn;
			}


			function theAjaxGetFloat(){
				console.log("theAjaxNotifications called");
				//$('#subject_container').show();
				var floatship = {};
				floatship.name = $('#floatship_name').val();
				floatship.password = $('#floatship_password').val();
               
				console.log("floatship: ",floatship);


				$.ajax({
                        data: { "floatship" : floatship },
                        dataType: 'json',
						type: 'POST',
						url: '/float/'+floatship.name + '/' + floatship.password,
						
						success: function(data){
						   if(data == "not_found" || data == "error" ){
								console.log("not updated");
								$('#status_box').html("Error");
								$('#floatship_container').hide();
								$('#floatship_password').val('');
								//theAjaxNotifications();
							}
							else if(data == "wrong_password" ){
								console.log("wrong password");
								$('#status_box').html("wrong_password");
								$('#floatship_container').hide();
								$('#floatship_password').val('');
								//theAjaxNotifications();
							}
							else{
								console.log("updated",data,data.float);
								$('#status_box').html("Logged in");
								$('#floatship_container').show();
								$('#floatship_float').val(data.float);
								
								//$('#floatship_password').val(data.float);
							}
						},
						error: function(){
							console.log("connection error");
							$('#status_box').html("connection error");
							//alert('No data');
						}
					});        
				
			}


            function theAjaxAddFloat(){
				console.log("theAjaxNotifications called");
				//$('#subject_container').show();
				var floatship = {};
				//floatship.name = $('#floatship_name').val();
				//floatship.password = $('#floatship_password').val();
                floatship.float = $('#floatship_float').val();
               
				console.log("floatship: ",floatship);


				$.ajax({
                        data: { "floatship" : floatship },
                        dataType: 'json',
						type: 'POST',
						url: '/addfloat',

						//url: '/addfloat/'+floatship.name + '/' + floatship.password,
						
						success: function(data){
						   if(data == "not_found" || data == "error" ){
								console.log("not updated");
								$('#status_box').html("Error");
								$('#floatship_container').hide();
								$('#floatship_password').val('');
								//theAjaxNotifications();
							}
							else{
								console.log("updated",data);
								$('#status_box').html("Updated");
								$('#floatship_container').show();
								$('#floatship_float').val(data.float);
								//$('#floatship_password').val(data.float);
							}
						},
						error: function(){
							console.log("connection error");
							$('#status_box').html("connection error");
							//alert('No data');
						}
					});        
				
			}
		
		</script>

		<script>
			var username = "";
		</script>


		<script type="application/javascript">
			function getIP(json) {
			  console.log("My public IP address is: ", json.ip);
			  username = json.ip;
			}
		</script>

		<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>

		<script type="text/javascript" src="/js/socketio2.0.4.min.js"></script>
		<script>
			
			function updateStatus(message){
				$('#status_box').html(message);
			}

			// Connecting to socket.io
			var socket = io.connect('/');
			var wid = $('#floatship_name').val();

			//$("#wid").val(wid);

			// The username is requested, sent to the server and displayed in the title
			//var username = prompt('What\'s your username?');

			$.getJSON('https://api.ipify.org?format=json', function(data){
				console.log("=======>ip: ",data.ip);
				username = data.ip;
			});

 			console.log("=========>>> Username: ", username);

			socket.emit('new_client', wid, username);
			document.title = 'Floatex : ' + document.title;

			var clients = [];
			(async () => {
					clients = await getClients();
					console.log("=============> All Clients", clients);
				})();
			var clients_replied = [];
			console.log("=============>Clients Replied", clients_replied);

			var mySocket_id = "";
			socket.on('yourid', function(data) {
				console.log("====> my socket id data",data);
				mySocket_id = data;
			})

			var editing_flag = false;

			function wait (timeout) {
			return new Promise((resolve) => {
				setTimeout(() => {
				resolve()
				}, timeout)
			})
			}
			async function checkClientsReplied() {
				console.log("Waiting for n sec.");
				$('#status_box').html("Awaiting for reply");
				await wait(5000);

					//setTimeout(function () {
						console.log("Starting checking...");
						var canCommit = true;

						console.log("Comparing length...",clients_replied.length , clients.length);
						if(clients_replied.length != clients.length-1){
							canCommit = false;
							socket.emit('globalAbort', mySocket_id, wid);
							$('#status_box').html("globalAbort");
							
							editing_flag = false;
							$("#floatship_float").prop('disabled', false);
							$("#floatship_float").css("box-shadow", "1px 1px 2px black, 0 0 5px buttonface");
							return canCommit;
						}
						else{

							var count_canCommit = 0;

							for( x in clients_replied){
								console.log("xval",clients_replied[x]["rid"]);
								if(clients_replied[x]["rid"]){	//rid=true : person is editing
									//canCommit = false;
								}
								else{
									count_canCommit++;
								}
							}

							if(count_canCommit >= (clients_replied.length - count_canCommit)){
								canCommit = true;
								console.log("canCommit == yes");
							}
							else{
								canCommit = false;
								console.log("canCommit == no");
							}
							return canCommit;

							/*
							if(canCommit)
							{
								console.log("canCommit == yes");
								$('#status_box').html("Can Commit");
								$("#floatship_float").prop('disabled', false);
								$("#floatship_float").focus();
								$("#floatship_float").css("box-shadow","1px 1px 2px black, 0 0 15px green, 0 0 5px darkblue");

							}
							else{
								console.log("canCommit == no");
								$('#status_box').html("Can't Commit");
								editing_flag = false;
								$("#floatship_float").prop('disabled', true);
								$("#floatship_float").css("box-shadow","1px 1px 2px black, 0 0 15px red, 0 0 5px darkblue");
							}
							*/
						}

						
						
						
					//}, 5000);
				};



			var timestamp_init = null;
			
			

			socket.on('canCommit', function(data) {
				console.log("canCommit data",data,data.wid,wid, timestamp_init);
				if(data.wid == wid ){
					updateStatus(" canCommitReply sent");
					if(editing_flag){
						editing_flag = !confirm("canCommitReply ?");
						console.log("canCommit confirmation!");
						socket.emit('canCommitReply', editing_flag, data.requestSocket_id, mySocket_id, wid, timestamp_init);
					}
					else{
						socket.emit('canCommitReply', editing_flag, data.requestSocket_id, mySocket_id, wid, timestamp_init);				
					}
				}
			})

			socket.on('preCommit', function(data) {
				console.log("preCommit data",data,data.wid,wid, timestamp_init);
				if(data.wid == wid ){
					$("#floatship_float").prop('disabled', true);
					$("#floatship_float").css("box-shadow","1px 1px 2px black, 0 0 15px orange, 0 0 5px darkblue");
					updateStatus("Ready for Commit");
					socket.emit('preCommitReply', data.requestSocket_id, mySocket_id, wid, timestamp_init);
				}
			})			

			socket.on('canCommitReply', function(data) {
				console.log("canCommitReply data",data,data.wid,wid,data.timestamp_init);
				//var dictind = {}
				if(data.wid == wid ){
					var rid = data.replySocket_id;
					//dictind.rid= editing_flag;
					clients_replied.push({rid: data.editing_flag});
				}
			})

			socket.on('preCommitReply', function(data) {
				console.log("preCommitReply data",data,data.wid,wid,data.timestamp_init);
				//var dictind = {}
				if(data.wid == wid ){
					var rid = data.replySocket_id;
					//dictind.rid= editing_flag;
					clients_replied.push({rid: data.editing_flag});
				}
			})			

			socket.on('globalAbort', function(data) {
				console.log("globalAbort data",data,data.wid,wid);
				if(data.wid == wid ){
					$('#status_box').html("globalAbort");
					//insertMessage( data.message, data.username);
					$("#floatship_float").prop('disabled', false);
					$("#floatship_float").css("box-shadow", "1px 1px 2px black, 0 0 5px buttonface");
				}
			});

			// When a message is received it's inserted in the page
			socket.on('message', function(data) {
				//var wid2 = window.location.href.split("=")[2];
				console.log("message data",data,data.wid,wid);
				
				if(data.wid == wid ){
					updateStatus("updated");
					insertMessage( data.message, data.username);
					$("#floatship_float").prop('disabled', false);
					$("#floatship_float").css("box-shadow", "1px 1px 2px black, 0 0 5px buttonface");
				}

			})

			// When a new client connects, the information is displayed
			socket.on('new_client', function(data) {
				console.log("new_client");
				if(data.wid == wid ){
					(async () => {
					clients = await getClients();
					console.log("=============> All Clients new", clients);
				})();
					//$('#chat_zone').prepend('<p><em>' + data.username + ' has joined the chat!</em></p>');
				}
			})








			$("#floatship_float").click(function(){
				//$("#floatship_float").prop('disabled', true);
				//$("#floatship_float").css("box-shadow","1px 1px 2px black, 0 0 15px yellow, 0 0 5px darkblue");
				//clients_replied = [];
				editing_flag = true;

				//checkClientsReplied();
				$("#floatship_float").css("box-shadow","1px 1px 2px black, 0 0 15px rgb(17, 235, 17), 0 0 5px darkblue");
			})

			// When the form is sent, the message is sent and displayed on the page
			$('#floatship_float_button').click(async function () {

				$('#floatship_float_copy').val($('#floatship_float').val());
				$("#floatship_float").css("box-shadow","1px 1px 2px black, 0 0 15px yellow, 0 0 5px darkblue");

				clients_replied = [];

				var date = new Date();
				timestamp_init = date.getTime();
				updateStatus("sending canCommit request");
				socket.emit('canCommit', mySocket_id, wid, timestamp_init); // Sends the message to the others
				

				updateStatus("waiting for canCommit replies");
				var canCommitResult = await checkClientsReplied();

				//setTimeout(async function () {

					console.log("canCommitResult: ",canCommitResult);
					if(canCommitResult){
						console.log("sending preCommiting request");

						clients_replied = [];
						timestamp_init = date.getTime();
						updateStatus("sending preCommit request");
						socket.emit('preCommit', mySocket_id, wid, timestamp_init); // Sends the message to the others
						
						updateStatus("waiting for preCommit replies");
						var preCommitResult = await checkClientsReplied();
						//setTimeout(async function () {
							if(preCommitResult){

								console.log("Committing data");
								updateStatus("Committing data");

								var message = $('#floatship_float').val();
								console.log("wid-----committing message... ",wid, message);
								socket.emit('message', message, wid); // Sends the message to the others
								theAjaxAddFloat();
								$("#floatship_float").prop('disabled', false);
								$("#floatship_float").css("box-shadow", "1px 1px 2px black, 0 0 5px buttonface");
								editing_flag = false;
							}
							else{
								console.log("pre Commit failed");
								updateStatus("pre Commit failed");
								$("#floatship_float").css("box-shadow","1px 1px 2px black, 0 0 15px red, 0 0 5px darkblue");
							}
						//},6000);
					}
					else{
						console.log("can Commit failed");
						updateStatus("can Commit failed");
						$("#floatship_float").css("box-shadow","1px 1px 2px black, 0 0 15px red, 0 0 5px darkblue");
					}

				//},6000);

				//insertMessage( message); // Also displays the message on our page
				//$('#message').val('').focus(); // Empties the chat form and puts the focus back on it
				
				return false; // Blocks 'classic' sending of the form
			});
			
			// Adds a message to the page
			function insertMessage( message, username) {
				//$('#chat_zone').prepend('<p><strong>' + username + ':' + '</strong> ' + message + '</p>');
				$('#status_box').html("Updated");
				$('#floatship_float_copy').val($('#floatship_float').val());
				$('#floatship_float').val(message);
			}


		</script>
	</body>
</html>
